.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/>
.git/>
node_modules/>
!node_modules/@kwsites/file-exists/>
!node_modules/@kwsites/promise-deferred/>
!node_modules/simple-git/dist/>
!node_modules/simple-git/package.json
!node_modules/moment/moment.js
!node_modules/moment/locale/>
!node_modules/moment/package.json
!node_modules/debug/src/>
!node_modules/debug/package.json
!node_modules/ms/index.js
!node_modules/ms/package.json

# Development files
.editorconfig
.eslintignore
.npmignore
.prettierignore
.prettierrc
webpack.config.js
**/*.test.js
**/*.spec.js

# Documentation
docs/>
**/*.md
!README.md
!README_CN.md
!changelog.md
